.addon-header {
	background: darken(@blue, 10%);
}

.addon-header {
	margin-bottom: 1em;
}

.addon-panel {
	padding: 1em 0;
	color: #fff;

	h2 {
		display: inline;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	.code {
		float: right;
		text-align: right;
		margin: -0.4em 0;

		code {
			display: block;
			background: rgba(255, 255, 255, 0.5);
			border-radius: 2px;
			color: #000;
			padding: 2px 6px;
		}
	}
}

.addon-menu {
	> ul > li {
		margin-bottom: 1em;
	}

	small {
		display: block;
		line-height: @line-height-base;
	}
}
