.addon-header {
	background: darken(@blue, 10%);
}

.addon-header {
	margin-bottom: 1em;
}

.addon-panel {
	padding: 1em 0;
	color: #fff;

	h2 {
		display: inline;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	.code {
		float: right;
		text-align: right;
		margin-top: 0.5em;
	}
}

.addon-menu {
	> ul > li {
		margin-bottom: 1em;
	}

	small {
		display: block;
		line-height: @line-height-base;
	}
}
