<div class="container">
<div class="row">
<div class="col-sm clearfix">
	<div class="addon-panel">
		<div class="row">
			<div class="col-sm-auto">
				<h2><a href="{plink :Docs:Browser: chapter => NULL}">{$addonName}</a></h2>
			</div>
			<div class="col-sm">
				<div class="code">
					<a href="https://github.com/{$addonGitHub}"><img src="https://img.shields.io/badge/GitHub-{$addonGitHub|replace:"-","--"}-%23ffffff"></a>
					<a href="https://github.com/{$addonGitHub}/releases" title="Stable Version"><img src="https://img.shields.io/github/v/release/{$addonGitHub}"></a>
					<a href="https://packagist.org/packages/{$addonGitHub}" title="Downloads"><img src="https://img.shields.io/packagist/dm/{$addonGitHub}.svg?style=flat"></a>
				</div>
			</div>
			<div class="col-sm-auto">
				<div class="versions">
					{foreach $versions as $version}
						<a href="{plink :Docs:Browser: version => $version}" n:class="$currentVersion === $version ? active">{$version}</a>
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
