<div class="container">
<div class="row">
<div class="col col-sm-12 clearfix">
	<div class="addon-panel">
		<h2><a href="{plink :Docs:Browser: chapter => NULL}">{$addonName}</a></h2>

		<div class="code">
			<code>composer require {$addonGitHub}</code>
			<a href="https://packagist.org/packages/{$addonGitHub}" title="Stable Version"><img src="//img.shields.io/packagist/v/{$addonGitHub}.svg"></a>
			<a href="https://codedoc.pub/{$addonGitHub}/{$lastStableRef}/index.html" title="Api Documentation"><img src="https://img.shields.io/badge/api-{$lastStableLabel}-EBDB06.svg"></a>
		</div>
	</div>
</div>
</div>
</div>
