parameters:
	doc:
		orm: v1.0
		dbal: v1.0
		migrations: v3.0
		datagrid: v2.0

php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: Nextras\Web\*\*Presenter

services:
	routerFactory: Nextras\Web\RouterFactory
	router: @routerFactory::createRouter
	- Nextras\Web\FetchDocService(%doc%)
	- { class: Nextras\Web\FetchDocCommand, tags: [kdyby.console.command] }


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
