extensions:
	contributte.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

parameters:
	doc:
		orm: v2.3
		dbal: v2.1
		migrations: v3.0
		datagrid: v2.0
		secured-links: master

php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: Nextras\Web\*\*Presenter

services:
	routerFactory: Nextras\Web\RouterFactory
	router: @routerFactory::createRouter
	- Nextras\Web\FetchDocService(%doc%)
	- { class: Nextras\Web\FetchDocCommand, tags: [kdyby.console.command], inject: true }
