extensions:
	contributte.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

parameters:
	doc:
		orm: v3.0
		dbal: v3.0
		migrations: v3.0
		datagrid: v2.0
		secured-links: master

php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: Nextras\Web\*\*Presenter

services:
	- Nextras\Web\Docs\TexyFactory
	- Nextras\Web\Docs\CommonMarkFactory
	-
		factory: @Nextras\Web\Docs\TexyFactory::create
		type: Texy\Texy
	-
		factory: @Nextras\Web\Docs\CommonMarkFactory::create
		type: League\CommonMark\MarkdownConverter
	- Nextras\Web\Docs\DocumentationService
	routerFactory: Nextras\Web\RouterFactory
	router: @routerFactory::createRouter
	- Nextras\Web\FetchDocService(%doc%)
	- { class: Nextras\Web\FetchDocCommand, tags: [kdyby.console.command], inject: true }
