.homepage-header {
	background: $blue;
	min-height: 5px;
	font-size: $font-size-lg * 1.4;
	color: $white;
	padding: 2rem 0;
}

.section-homepage {
	margin-top: 3em;

	.bulk {
		display: block;
		text-decoration: none;
		border-radius: 5px;
		margin-bottom: 4em;

		h2 {
			margin-top: 0;
			margin-bottom: 0.2em;
		}

		p {
			color: #777;
			margin: 0;
		}
	}
}

.deprecated {
	color: $gray-700;
}
