.addon-header {
	background: $blue;
}

.addon-header {
	margin-bottom: 1em;
}

.addon-panel {
	padding: 1em 0;
	color: #fff;

	a {
		color: #fff;
		text-decoration: none;
	}

	h2 {
		margin: 0 1em 0 0;
	}

	.code {
		margin: 0.4em 0;
	}

	.versions {
		margin: 0.4em 0;

		a {
			background: rgba(255, 255, 255, 0.1);
			font-size: 0.8em;
			color: #eee;
			border-radius: 2px;
			padding: 1px 4px;
			margin-right: 2px;

			&.active {
				background: rgba(255, 255, 255, 0.3);
				color: white;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.addon-panel {
		.versions {
			text-align: right;
		}
	}
}
