<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Nextras components">
	<title>{block title|striptags}Nextras components{/block}</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{$basePath}/assets/build/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	{if !empty($header)}
		{include $header}
	{/if}

	<script>
		$(function() {
			$.nette.init();
		});
	</script>
</head>

<body>
<script> document.body.className+=' js' </script>

{block fork-badge}{/block}

<div class="site">

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a n:href=":Homepage:" class="navbar-brand">nextras<span>+++</span></a>
	</div>
	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<ul class="nav navbar-nav">
			<li><a n:href=":Docs:Browser: orm, version => NULL, chapter => NULL">Orm</a></li>
			<li><a n:href=":Docs:Browser: dbal, version => NULL, chapter => NULL">Dbal</a></li>
			<li><a n:href=":Docs:Browser: datagrid, version => NULL, chapter => NULL">Datagrid</a></li>
			<li><a n:href=":Docs:Browser: forms, version => NULL, chapter => NULL">Forms</a></li>
			<li><a n:href=":Docs:Browser: migrations, version => NULL, chapter => NULL">Migrations</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">more <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a n:href=":Docs:Browser: mail-panel, version => NULL, chapter => NULL">MailPanel</a></li>
					<li><a n:href=":Docs:Browser: secured-links, version => NULL, chapter => NULL">SecuredLinks</a></li>
					<li><a n:href=":Docs:Browser: static-router, version => NULL, chapter => NULL">StaticRouter</a></li>
					<li><a n:href=":Docs:Browser: link-factory, version => NULL, chapter => NULL">LinkFactory</a></li>
					<li><a n:href=":Docs:Browser: youtube-api, version => NULL, chapter => NULL">YoutubeApi</a></li>
					<li><a n:href=":Docs:Browser: latte-macros, version => NULL, chapter => NULL">LatteMacros</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
</header>

<div class="addon-header" n:if="$presenter->name !== Homepage">
	{include addon-header}
</div>

<div n:class="site-content, $presenter->name === Homepage ? homepage">
<div class="container">
		<div class="row">
			<div class="col col-sm-12" n:snippet="flashes">
				<div n:foreach="$flashes as $flash" class="alert alert-info">{$flash->message}</div>
			</div>
			<div class="col col-sm-12">
				{include #content}
			</div>
		</div>
</div>
</div>

<footer>
	<div class="container">
	<div class="row">
		<div class="col col-sm-12">
			This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
			<br>Nextras community &copy; 2013, {=date('Y')}
		</div>
	</div>
	</div>
</footer>

</div>

</body>
</html>
